<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
    </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".proto" mimeType="application/text" />
            <mimeMap fileExtension=".exml" mimeType="application/text" />
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
        </staticContent>
		<rewrite>
      <rules>
       <!--Flash-->
<!--         <rule name="rDflashHome">
          <match url="^game-flash.html" />
          <action type="Rewrite" url="index.html" />
        </rule> -->
        <!--H5-->
        <rule name="rDH5Home">
          <match url="^$" />
          <action type="Rewrite" url="wpt/module/index/index.html" redirectType="Found" />
        </rule>
        <rule name="rdH5poker">
          <match url="^wpt/www/module/poker/index.html" />
          <action type="Redirect" url="/poker" redirectType="Found" />
        </rule>
        <rule name="rDflashPoker">
          <match url="^game.html" />
          <action type="Redirect" url="poker-flash.html" redirectType="Found" />
        </rule>
        <rule name="flashPoker">
          <match url="^poker-flash.html" />
          <action type="Rewrite" url="game.html" />
        </rule>
		<rule name="flashHomeRdH5Home">
          <match url="^index.html" />
          <action type="Redirect" url="/" redirectType="Found" />
        </rule>

      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
		
		
  </system.webServer>
  <system.web>
    <compilation debug="true" />
	
  </system.web>
    <location path="index.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="faq.html">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>